@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.logIn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-family: "Albert Sans", sans-serif;
    color: #ef4d44;
}

