.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;
}

.containerLogo,
.containerLogIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 8px;
}

.logo {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formButton,
.buttonSign,
.buttonLogIn {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}

.formButton:hover,
.buttonSign:hover,
.buttonLogIn:hover {
  background-color: #f77e78;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.buttonGroup p {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #333;
}

.buttonSign {
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  border: 0.1rem solid #f77e78;
  color: #f77e78;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

.buttonSign:hover {
  background-color: #ef4d44;
}

.buttonLogIn {
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f77e78;
  color: white;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

.buttonLogIn:hover {
  background-color: #ef4d44;
}

.containerLogIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  background-color: white;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
}