@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: white;
    margin: 4rem ;
    border-radius: 8px;
  }

.form input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #f77e78;
    border-radius: 5px;
    width: 100%;
}

.formButton {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f77e78;
  color: white;
  cursor: pointer;
  text-align: center;
}

.formButton:hover {
    background-color: #ef4d44;
}
  
  